:root {
    --black: #000000;
    --white: #ffffff;
    --secondary: #ffffff;
    --secondary-text:var(--black);
    --primary:#E4E4E4;
    --primary-text:var(--black)
}


.first-nav > .navbar-brand {
    position: absolute;
    left: 45%;
    font-size: 1rem;
  }
  
  
  .container {
    padding: 20px;
  }


  /* button */
  .btn {
    border-radius: 24px;
    padding: 8px 16px;
    margin-right: 10px;
  }

/* Sign Up button */
  .btn-secondary {
    background: var(--secondary);
    color: var(--secondary-text);
    border: 2px solid var(--white)
    
  }
 .btn-secondary > .nav-link {
    color: var(--secondary-text);
    padding: 0;
  }

  /* .navbar-light .navbar-nav  .btn-secondary > .nav-link:hover {
    color: var(--secondary);
  } */

  .btn-secondary:hover{
    background-color: #E4E4E4;
    border: 2px solid var(--white)
  }
  

/* Log in Button */
  .btn-outline-primary{
    background: transparent;
    color: var(--secondary-text);
    border: 2px solid var(--white);
    
  }
 .btn-outline-primary > .nav-link {
    color: var(--secondary-text);
    padding: 0;
  }
 .btn-outline-primary > .nav-link:hover {
    background-color: #E4E4E4;
  }

  .btn-outline-primary:hover{
    background-color: #E4E4E4;
    border: 2px solid var(--white)
  }
  
.nav-2{
    background-color: #E4E4E4;
}

.nav-button-container {
    margin-left:auto;
  }

  .form-control{
    width: auto;
    margin-right: 5px;
  }

/* @media (max-width: 998px) {
    footer {
        background-color: red;
      } 
}*/
  /* this is going to apply css on screen sizes up to a maximum of 768px */
@media (max-width: 768px) {
    /* .nav-button-container {
        margin-left: 0;
      } */

      /* > is a child selector. any classname of navbar-brand inside the class name of first-nav will apply the following css*/
      .first-nav > .navbar-brand {
        position: relative;
        left: 0;
      }
}


.home-first-container img{
  width: 400px;
  height: auto;
} 

.slide-image{
  height: 400px;
}

.first-nav img{
 height: 67px;
  width:auto; 
  padding: 5px; 
  margin-top: 5px;
}

@media (max-width: 575.98px) { 
  .home-first-container img{
    height: auto;
    width: 300px;
}
.slide-image{
  height: 200px;
}

.first-nav img{
  height: 45px;
}
.form-control {
  width: 120px;
}
 }

 
.second-nav > .form-inline{
    margin-left: auto;
  }

.nav-img-heart-checkout{
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}



footer {
    background-color: #f5f5f5;

  }

.follow-us{
    width: 24px;
    height: 24px;
    padding: 2px;
  }

  .browse-now{
    text-align: center;
  }

.new-product> button{
  font-size: 10px;
  padding: 8px 16px;
}
/* first container */
.first-container-info{
  margin: 40px;
}
.first-container-text > button{
  margin-top: 40px;
} 
.first-container-text{
  text-align: left;
  margin-left: 40px;
}

.home-second-container img{
height: 400px;
}

/* Login-page */
.login-form{
  background-color: #E4E4E4;
  padding: 40px;
}

.login-form-buttom{
  margin-bottom: 50px;
  border-radius: 0;
  background-color: white;
  font-weight: bold;

}

.basket {
  position: relative;
}

#basketAmount{
  position: absolute;
  top: -10px;
  left: 0;
  padding: 5px;
  background-color: red;
  border-radius: 50%;
  height: 25px;
  text-align: center;
  width: 25px;
  display: none;
  font-size: 10px;
}
.love{
  position: relative;
}
#loveItems{
  position: absolute;
  background-color: pink;
  top: -10px;
  left: 0px;
  font-size: 10px;
  padding: 5px;
  border-radius: 50%;
  height: 25px;
  text-align: center;
  width: 25px;
  display: none;

}

.home-new{
  color: red;
}
